body {
      background-image: url(https://media3.giphy.com/media/5en9jogeCyn0k/giphy.gif);
      background-color: white;
      font-size: 200%;
      color: white;
      font-family: sans-serif;;
  
}

